@{
    ViewBag.Title = "Select Login";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-3">
        <div class="well text-center">
            <a asp-action="Login" asp-route-id="google"><img src="~/images/google_signin_buttons/1x/btn_google_signin_light_normal_web.png" height="41" /></a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well text-center">
            <a asp-action="Login" asp-route-id="facebook"><img src="~/images/facebook_signin_buttons/normal.png" height="41" /></a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well text-center">
            <a asp-action="Login" asp-route-id="twitter"><img src="~/images/twitter_signin_buttons/normal.png" height="41" /></a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well text-center">
            <a asp-action="Login" asp-route-id="amazon"><img src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_312x64.png" height="41" /></a>
        </div>
    </div>
</div>